

    #pane{
        -fx-background-image: url("../../../../Images/bear.jpg");
        -fx-background-repeat: no-repeat;
        -fx-background-size: 600 850;
        -fx-background-position: center center;
    }

